/* Links */

a,
a:focus,
a:hover {
  color: #fff;
}

/* Basic structure */

html,
body {
  background-color: rgb(30, 30, 34);
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.cover-container {
  max-width: 100%;
}

h1 {
  font-weight: 100;
  font-size: 2.3rem
}

/* Header */

.masthead {
  margin-bottom: 2rem;  
  padding: 0 50px;
}

.masthead-brand {
  margin-bottom: 0;
  font-size: 2.4rem;
  font-weight: 300;
  color: #fff;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* Gallery */

.container.gallery-container {
  min-height: 100vh;
  padding: 20px 0 40px 0;
}

.gallery-container h1 {
  text-align: center;
  font-weight: 100;
  font-size: 2.2rem;
  margin: 0;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 5px auto;
  padding-bottom: 10px;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 0 40px;
  padding-bottom: 20px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 26px;
  transition: 0.3s ease-in-out;
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media(max-width: 768px) {
  body {
    padding: 0;
  }
  .container.gallery-container {
    border-radius: 0;
  }
}

/* Footer */

.mastfoot {
  color: rgba(255, 255, 255, .5);
}
.social img {
  height: 1.8em;
  padding: 0 5px;
}

/* Media Queries */
